// Imports -------------------------------------------------------------------

@import "compass/css3/transition";
@import "base";

// Layout --------------------------------------------------------------------

h1 {
  border-bottom: 3px solid $color-strong;
  clear: both;
  color: $color-strong;
  font-family: $font-condensed;
  font-size: $px-huge;
  font-size: $rem-huge;
  font-weight: bold;
  line-height: 1.5em;
}

p {
  clear: both;
  font-color: $color-body;
  font-size: $px-big;
  font-size: $rem-big;
  line-height: 1.5em;
}