<section class="gallery">
  <nav class="nav_bar">
    <a href="/">&laquo; Return Home</a>
  </nav>
  
  <h1 class="headers-level_1">Projects Gallery</h2>
  
  <div>
    <figure class="gallery--item">
      <img class="projects--screenshot" src="img/project_socialfollows_a.jpg" alt="Screenshot of the SocialFollows Web App" />
      <figcaption>
        <p>
          <strong>SocialFollows Web App</strong>
          <a class="gallery--link" href="http://app.socialfollo.ws" target="_blank">Open in a new window</a>
        </p>
        <ul>
          <li>Zend Framework Development</li>
          <li>UI/UX Design</li>
          <li>Email Distribution</li>
        </ul>
      </figcaption>
    </figure>
  
    <figure class="gallery--item">
      <img class="projects--screenshot" src="img/project_socialfollows_b.jpg" alt="Screenshot of the SocialFollows website" />
      <figcaption>
        <p>
          <strong>SocialFollows Landing Page</strong>
          <a class="gallery--link" href="http://www.socialfollo.ws" target="_blank">Open in a new window</a>
        </p>
        <ul>
          <li>Graphic Design</li>
          <li>Conversion Optimization</li>
        </ul>
      </figcaption>
    </figure>
  
    <figure class="gallery--item">
      <img class="projects--screenshot" src="img/project_screenshot_a.jpg" alt="Screenshot of The Android Miscellany website" />
      <figcaption>
        <p>
          <strong>The Android Miscellany</strong>
          <a class="gallery--link" href="http://androidmiscellany.com" target="_blank">Open in a new window</a>
        </p>
        <ul>
          <li>Web Design</li>
          <li>Wordpress Development</li>
        </ul>
      </figcaption>
    </figure>
  
    <figure class="gallery--item">
      <img class="projects--screenshot" src="img/project_kryton.jpg" alt="Screenshot of the Kryton International Inc. website" />
      <figcaption>
        <p>
          <strong>Kryton International Inc.</strong>
          <a class="gallery--link" href="http://www.kryton.com" target="_blank">Open in a new window</a>
        </p>
        <ul>
          <li>Wordpress Development</li>
          <li>Conversion Optimization</li>
        </ul>
      </figcaption>
    </figure>
  
    <figure class="gallery--item">
      <img class="projects--screenshot" src="img/project_skillplan.jpg" alt="Screenshot of the SkillPlan website" />
      <figcaption>
        <p>
          <strong>SkillPlan</strong>
          <a class="gallery--link" href="http://www.skillplan.ca" target="_blank">Open in a new window</a>
        </p>
        <ul>
          <li>Wordpress Development</li>
        </ul>
      </figcaption>
    </figure>
  
    <figure class="gallery--item">
      <img class="projects--screenshot" src="img/project_musicfolder.jpg" alt="Screenshot of the MusicFolder.com website" />
      <figcaption>
        <p>
          <strong>MusicFolder.com</strong>
          <a class="gallery--link" href="http://www.musicfolder.com" target="_blank">Open in a new window</a>
        </p>
        <ul>
          <li>JavaScript Development</li>
          <li>Email Campaigns</li>
        </ul>
      </figcaption>
    </figure>
  
    <figure class="gallery--item">
      <img class="projects--screenshot" src="img/project_duhaime.jpg" alt="Screenshot of the Duhaime's Anti-Money Laundiner Law in Canada website" />
      <figcaption>
        <p>
          <strong>Duhaime's Anti-Money Laundering Law in Canada</strong>
          <a class="gallery--link" href="http://www.antimoneylaunderinglaw.com/" target="_blank">Open in a new window</a>
        </p>
        <ul>
          <li>Web Design</li>
          <li>Wordpress Development</li>
        </ul>
      </figcaption>
    </figure>
  
    <figure class="gallery--item">
      <img class="projects--screenshot" src="img/project_delta_chamber.jpg" alt="Screenshot of the Delta Chamber of Commerce website" />
      <figcaption>
        <p>
          <strong>Delta Chamber of Commerce</strong>
          <a class="gallery--link" href="http://www.deltachamber.ca" target="_blank">Open in a new window</a>
        </p>
        <ul>
          <li>Wordpress Development</li>
        </ul>
      </figcaption>
    </figure>
  
    <figure class="gallery--item">
      <img class="projects--screenshot" src="img/project_screenshot_b.jpg" alt="Screenshot of the Bellevue Natural Health Clinic website" />
      <figcaption>
        <p>
          <strong>Bellevue Natural Health Clinic</strong>
          <a class="gallery--link" href="http://www.bellevuenaturalhealth.ca" target="_blank">Open in a new window</a>
        </p>
        <ul>
          <li>Web Design</li>
          <li>Wordpress Development</li>
        </ul>
      </figcaption>
    </figure>
  
    <figure class="gallery--item">
      <img class="projects--screenshot" src="img/project_madewood.jpg" alt="Screenshot of the Madewood Distribution Inc. website" />
      <figcaption>
        <p>
          <strong>Madewood Distribution Inc.</strong>
          <a class="gallery--link" href="http://www.madewood.ca" target="_blank">Open in a new window</a>
        </p>
        <ul>
          <li>Web Design</li>
          <li>Wordpress Development</li>
        </ul>
      </figcaption>
    </figure>
  
    <figure class="gallery--item">
      <img class="projects--screenshot" src="img/project_aeyra_cakes.jpg" alt="Screenshot of the Aeyra Cakes website" />
      <figcaption>
        <p>
          <strong>Aeyra Cakes</strong>
          <a class="gallery--link" href="http://www.aeyracakes.ca" target="_blank">Open in a new window</a>
        </p>
        <ul>
          <li>Wordpress Development</li>
        </ul>
      </figcaption>
    </figure>
  
    <figure class="gallery--item">
      <img class="projects--screenshot" src="img/project_hub.jpg" alt="Screenshot of the HUB D&amp;O website" />
      <figcaption>
        <p>
          <strong>HUB D&amp;O</strong>
          <a class="gallery--link" href="http://www.hubdando.com" target="_blank">Open in a new window</a>
        </p>
        <ul>
          <li>Web Design</li>
          <li>Wordpress Development</li>
        </ul>
      </figcaption>
    </figure>
  
    <figure class="gallery--item">
      <img class="projects--screenshot" src="img/project_franklin_falls.jpg" alt="Screenshot of the Franklin Falls website" />
      <figcaption>
        <p>
          <strong>Franklin Falls</strong>
          <a class="gallery--link" href="http://www.franklinfalls.com" target="_blank">Open in a new window</a>
        </p>
        <ul>
          <li>Web Design</li>
          <li>HTML / CSS</li>
        </ul>
      </figcaption>
    </figure>
  </div>
</section>