<section class="gallery">
  <h1 class="headers-level_1">Latest Projects</h2>
  
  <figure class="projects--project">
    <img class="projects--screenshot" src="img/project_screenshot_a.jpg" alt="Screenshot of The Android Miscellany website" />
    
    <figcaption>
      <p><strong>The Android Miscellany</strong></p>
      <p>Brief description of the project here.</p>
    </figcaption>
  </figure>
  
  <figure class="projects--project">
    <img class="projects--screenshot" src="img/project_screenshot_b.jpg" alt="Screenshot of the Bellevue Natural Health Clinic website" />
    
    <figcaption>
      <p><strong>Bellevue Natural Health Clinic</strong></p>
      <p>Brief description of the project here.</p>
    </figcaption>
  </figure>
</section>