<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Jeff Kamo | Web Designer &amp; Developer</title>
  <link href="stylesheets/application.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <!--[if IE]><link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->
  <script type="text/javascript" src="http://use.typekit.com/bpt4byr.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body id="home">
  <div class="wrapper">
    <header class="rising_sun">
      <h1>Hello, my name is Jeff Kamo and I make websites</h1>
    </header>
    
    <section class="content">
      <div class="projects">
        <h2 class="headers-level_1">Latest Projects</h2>
        
        <figure class="projects--project">
          <img src="img/project_screenshot_a.jpg" alt="Screenshot of The Android Miscellany website" />
          
          <figcaption>
            <p><strong>The Android Miscellany</strong></p>
            <p>Brief description of the project here.</p>
          </figcaption>
        </figure>
        
        <figure class="projects--project">
          <img src="img/project_screenshot_b.jpg" alt="Screenshot of the Bellevue Natural Health Clinic website" />
          
          <figcaption>
            <p><strong>Bellevue Natural Health Clinic</strong></p>
            <p>Brief description of the project here.</p>
          </figcaption>
        </figure>
      </div>
      
      <div class="about">
        <h2 class="headers-level_2">About "Jeff Kamo"</h2>
        <p>If it wasn’t obvious already, I am Jeff Kamo. A web developer who loves making and building websites. I work for <a href="http://www.pathmarketing.com">Path Marketing</a> as the Lead Developer. Some of the things I do for our company...</p>
        
        <div class="attributes">
          <img class="opaque_graphic" src="img/wordpress_logo.png" alt="Wordpress Logo" />
          <h3 class="headers-level_3">Wordpress</h3>
          <ul>
            <li class="attributes--attribute">Web Design</li>
            <li class="attributes--attribute">Themes Design</li>
            <li class="attributes--attribute">Implementation</li>
          </ul>
        </div>
        
        <div class="attributes">
          <img class="opaque_graphic" src="img/wordpress_logo.png" alt="It's all about the marketing skills!" />
          <h3 class="headers-level_3">Marketing</h3>
          <ul>
						<li class="attributes--attribute">Email Campaigns</li>
						<li class="attributes--attribute">Landing Pages</li>
						<li class="attributes--attribute"><abbr title="User Interface">UI</abbr> &amp; <abbr title="User Experience">UX</abbr> Design</li>
          </ul>
        </div>
      </div>
      
      <div class="skills">
        <h2 class="headers-level_2">His Skills</h2>
        <p class="skills--overview">Odio est odio nec nec tincidunt! Ut lectus, tincidunt nascetur lacus, cursus non est? Dignissim et, lundium in arcu, pulvinar integer tincidunt lectus!</p>
        
        <ul class="skills--container">
          <li class="skills--skill">
            <span class="headers-level_3">HTML5</span>
            <img class="opaque_graphic" src="img/html5_logo.png" alt="HTML5 Logo" />
          </li>
          <li class="skills--skill">
            <span class="headers-level_3">CSS3</span>
            <img class="opaque_graphic" src="img/CSS3_logo.png" alt="CSS3 Logo" />
          </li>
          <li class="skills--skill">
            <span class="headers-level_3">JS</span>
            <img class="opaque_graphic" src="img/javascript_logo.png" alt="Javascript Logo" />
          </li>
          <li class="skills--skill">
            <span class="headers-level_3">PHP</span>
            <img class="opaque_graphic" src="img/php_logo.png" alt="PHP Logo" />
          </li>
        </ul>
      </div>
      
      <div class="learning">
        <h2 class="headers-level_2">On the Horizon</h2>
        <p>Odio est odio nec nec tincidunt! Ut lectus, tincidunt nascetur lacus, cursus non est? Dignissim et, lundium in arcu, pulvinar integer tincidunt lectus!</p>
        
        <ul class="disciplines">
          <li class="disciplines--discipline">
            <img class="opaque_graphic" src="img/rails_logo.png" alt="Ruby On Rails Logo" />
            <span class="headers-level_3">Ruby On Rails</span>
            <ul>
              <li class="attributes--attribute">Web Application Design</li>
              <li class="attributes--attribute"><abbr title="Model View Controller">MVC</abbr> Programming</li>
              <li class="attributes--attribute"><abbr title="Behaviour Driven Development">B.D.D.</abbr></li>
              <li class="attributes--attribute">(and Sinatra, too!)</li>
            </ul>
          </li>
          <li class="disciplines--discipline">
            <img class="opaque_graphic" src="img/ruby_logo.png" alt="Ruby Logo" />
            <span class="headers-level_3">Ruby</span>
          </li>
          <li class="disciplines--discipline">
            <img class="opaque_graphic" src="img/coffeescript_logo.png" alt="Coffeescript Logo" />
            <span class="headers-level_3">CoffeeScript</span>
          </li>
          <li class="disciplines--discipline">
            <img class="opaque_graphic" src="img/jquery_logo.png" alt="jQuery Logo" />
            <span class="headers-level_3">jQuery</span>
          </li>
        </ul>
      </div>
    </section>
    
    <aside class="bio">
      <div class="silk">
        <div class="paper">
          <h2 class="headers--aside">In a Nutshell</h2>
          <p>I was raised in Thunder Bay, Ontario, Canada for eighteen years before moving to the beautiful city of Vancouver, British Columbia.</p>
          <p>I practiced web design on-and-off since High school. Later on I studied and graduated from the <b>Institute of Advanced Media</b> (2009).</p>
          <blockquote class="bio--quote">I love the internet. It’s rather profound, ya?</blockquote>
          <p>I value the internet’s resourcefulness, cherish its open nature and desire to help make it more of an incredible place to be.</p>
          <p>In my digital endeavours I strive for  pleasant, yet appropriate <b>aesthetics</b>.  <b>Usability</b> is an important factor, as well as <b>accessible</b> interface experiences.</p>
          <p>My mission is excellence in the fields of web design and development.</p>
      
          <h2 class="headers--aside">Resources</h2>
          <table>
            <tr><td>
              <figure class="resources__resource">
                <img class="opaque_graphic" src="img/itunes_logo.png" alt="iTunes Logo" />
                <figcaption>iTunes, for sanity</figcaption>
              </figure>
            </td><td>
              <figure class="resources__resource">
                <img class="opaque_graphic" src="img/apple_logo.png" alt="iMac Logo" />
                <figcaption>iMac and Macbook, for work</figcaption>
              </figure>
            </td><td>
              <figure class="resources__resource">
                <img class="opaque_graphic" src="img/sparrow_logo.png" alt="Sparrow Logo" />
                <figcaption>Sparrow, for emails</figcaption>
              </figure>
            </td></tr>
            <tr><td>
              <figure class="resources__resource">
                <img class="opaque_graphic" src="img/textmate_logo.png" alt="Textmate Logo" />
                <figcaption>Textmate, for coding</figcaption>
              </figure>
            </td><td>
              <figure class="resources__resource">
                <img class="opaque_graphic" src="img/compass_logo.png" alt="Compass Logo" />
                <figcaption>Compass, a CSS framework</figcaption>
              </figure>
            </td><td>
              <figure class="resources__resource">
                <img class="opaque_graphic" src="img/sass_logo.png" alt="SASS Lady" />
                <figcaption>SASS, for superior, more maintainable CSS</figcaption>
              </figure>
            </td></tr>
            <tr><td>
              <figure class="resources__resource">
                <img class="opaque_graphic" src="img/photoshop_logo.png" alt="Photoshop Logo" />
                <figcaption>Photoshop, for image manipulation</figcaption>
              </figure>
            </td><td>
              <figure class="resources__resource">
                <img class="opaque_graphic" src="img/transmit_logo.png" alt="Transmit Logo" />
                <figcaption>Transmit, for FTP</figcaption>
              </figure>
            </td><td>
              <figure class="resources__resource">
                <img class="opaque_graphic" src="img/basecamp_logo.png" alt="Basecamp Logo" />
                <figcaption>Basecamp, for task and project management</figcaption>
              </figure>
            </td></tr>
            <tr><td>
              <figure class="resources__resource">
                <img class="opaque_graphic" src="img/divvy_logo.png" alt="Divvy Logo" />
                <figcaption>Divvy, for desktop window management</figcaption>
              </figure>
            </td><td>
              <figure class="resources__resource">
                <img class="opaque_graphic" src="img/totalfinder_logo.png" alt="TotalFinder Logo" />
                <figcaption>TotalFinder, for a better Finder</figcaption>
              </figure>
            </td><td>
              <figure class="resources__resource">
                <img class="opaque_graphic" src="img/growl_logo.png" alt="Growl Logo" />
                <figcaption>Growl, for in-your-face-notificationary</figcaption>
              </figure>
            </td></tr>
            <tr><td>
              <figure class="resources__resource">
                <img class="opaque_graphic" src="img/dropbox_logo.png" alt="Dropbox Logo" />
                <figcaption>Dropbox, for file management and "sync-age"</figcaption>
              </figure>
            </td><td>
              <figure class="resources__resource">
                <img class="opaque_graphic" src="img/iawriter_logo.png" alt="iA Writer Logo" />
                <figcaption>iA Writer, for authoring</figcaption>
              </figure>
            </td><td>
              <figure class="resources__resource">
                <img class="opaque_graphic" src="img/fluidapp_logo.png" alt="Fluid App Logo" />
                <figcaption>Fluid App, for making Basecamp into a desktop app</figcaption>
              </figure class="resources__resource">
            </td></tr>
          </table>
        </div>
      </div>
    </aside>
    
    <footer class="footer">
      Design &amp; Developed by Jeff Kamo
    </footer>
  </div>
</body>
</html>