<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Jeff Kamo | Web Designer &amp; Developer</title>
	<link href="stylesheets/application.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <!--[if IE]><link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->
	<script type="text/javascript" src="http://use.typekit.com/bpt4byr.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body id="home">
	<div class="wrapper">
		<header>
			<h1>Hello, my name is Jeff Kamo ... I make websites</h1>
		</header>
		
		<section class="content">
			<div class="projects">
				<h2>Latest Projects</h2>
				
				<figure>
					<img src="img/project_screenshot_a.jpg" alt="Screenshot of The Android Miscellany website" />
					
					<figcaption>
						<p><strong>The Android Miscellany</strong></p>
						<p>Brief description of the project here.</p>
					</figcaption>
				</figure>
				
				<figure>
					<img src="img/project_screenshot_b.jpg" alt="Screenshot of the Bellevue Natural Health Clinic website" />
					
					<figcaption>
						<p><strong>Bellevue Natural Health Clinic</strong></p>
						<p>Brief description of the project here.</p>
					</figcaption>
				</figure>
			</div>
			
			<div class="about">
				<h2>About "Jeff Kamo"</h2>
				<p>If it wasn’t obvious already, I am Jeff Kamo. A web developer who loves making and building websites. I work for <a href="http://www.pathmarketing.com">Path Marketing</a> as the Lead Developer. Some of the things I do for our company...</p>
				
				<div class="attributes">
					<img src="img/wordpress_logo.png" alt="Wordpress Logo" />
					<h3>Wordpress</h3>
					<ul>
						<li>Web Design</li>
						<li>Themes Design</li>
						<li>Implementation</li>
					</ul>
				</div>
				
				<div class="attributes">
					<img src="img/wordpress_logo.png" alt="It's all about the marketing skills!" />
					<h3>Marketing</h3>
					<ul>
						<li>Email Campaigns</li>
						<li>Landing Pages</li>
						<li><abbr title="User Interface">UI</abbr> &amp; <abbr title="User Experience">UX</abbr> Design</li>
					</ul>
				</div>
			</div>
			
			<div class="skills">
				<h2>His Skills</h2>
				<p>Odio est odio nec nec tincidunt! Ut lectus, tincidunt nascetur lacus, cursus non est? Dignissim et, lundium in arcu, pulvinar integer tincidunt lectus!</p>
				
				<ul>
					<li>
						<span>HTML5</span>
						<img src="img/html5_logo.png" alt="HTML5 Logo" />
					</li>
					<li>
						<span>CSS3</span>
						<img src="img/CSS3_logo.png" alt="CSS3 Logo" />
					</li>
					<li>
						<span>JS</span>
						<img src="img/javascript_logo.png" alt="Javascript Logo" />
					</li>
					<li>
						<span>PHP</span>
						<img src="img/php_logo.png" alt="PHP Logo" />
					</li>
				</ul>
			</div>
			
			<div class="learning">
				<h2>On the Horizon</h2>
				<p>Odio est odio nec nec tincidunt! Ut lectus, tincidunt nascetur lacus, cursus non est? Dignissim et, lundium in arcu, pulvinar integer tincidunt lectus!</p>
				
				<ul class="disciplines">
					<li>
						<img src="img/rails_logo.png" alt="Ruby On Rails Logo" />
						<span>Ruby On Rails</span>
						<ul>
							<li>Web Application Design</li>
							<li><abbr title="Model View Controller">MVC</abbr> Programming</li>
							<li><abbr title="Behaviour Driven Development">B.D.D.</abbr></li>
							<li>(and Sinatra, too!)</li>
						</ul>
					</li>
					<li>
						<img src="img/ruby_logo.png" alt="Ruby Logo" />
						<span>Ruby</span>
					</li>
					<li>
						<img src="img/coffeescript_logo.png" alt="Coffeescript Logo" />
						<span>Coffeescript</span>
					</li>
					<li>
						<img src="img/jquery_logo.png" alt="jQuery Logo" />
						<span>jQuery</span>
					</li>
				</ul>
			</div>
		</section>
		
		<aside class="bio">
			<div class="silk">
				<div class="paper">
					<h2 class="nutshell">In a Nutshell</h2>
					<p>I was raised in Thunder Bay, Ontario, Canada for eighteen years before moving to the beautiful city of Vancouver, British Columbia.</p>
					<p>I practiced web design on-and-off since Highschool. Later on I studied and graduated from the <b>Institute of Advanced Media</b> (2009).</p>
					<blockquote>I love the internet. It’s rather profound, ya?</blockquote>
					<p>I value the internet’s resourcefullness, cherish its open nature and desire to help make it more of an incredible place to be.</p>
					<p>In my digital endeavors I strive for  pleasant, yet appropriate <b>aesthetics</b>.  <b>Useability</b> is an important factor, as well as <b>accessible</b> interface experiences.</p>
					<p>My mission is excellence in the fields of web design and development.</p>
			
					<h2 class="resources">Resources</h2>
					<table>
						<tr>
							<td>
								<figure>
									<img src="img/itunes_logo.png" alt="iTunes Logo" />
									<figcaption>iTunes, for sanity</figcaption>
								</figure>
							</td>
							<td>
								<figure>
									<img src="img/apple_logo.png" alt="iMac Logo" />
									<figcaption>iMac and Macbook, for work</figcaption>
								</figure>
							</td>
							<td>
								<figure>
									<img src="img/sparrow_logo.png" alt="Sparrow Logo" />
									<figcaption>Sparrow, for emails</figcaption>
								</figure>
							</td>
						</tr>
						<tr>
							<td>
								<figure>
									<img src="img/textmate_logo.png" alt="Textmate Logo" />
									<figcaption>Textmate, for coding</figcaption>
								</figure>
							</td>
							<td>
								<figure>
									<img src="img/compass_logo.png" alt="Compass Logo" />
									<figcaption>Compass, a CSS framework</figcaption>
								</figure>
							</td>
							<td>
								<figure>
									<img src="img/sass_logo.png" alt="SASS Lady" />
									<figcaption>SASS, for superior, more maintainable CSS</figcaption>
								</figure>
							</td>
						</tr>
						<tr>
							<td>
								<figure>
									<img src="img/photoshop_logo.png" alt="Photoshop Logo" />
									<figcaption>Photoshop, for image manipulation</figcaption>
								</figure>
							</td>
							<td>
								<figure>
									<img src="img/transmit_logo.png" alt="Transmit Logo" />
									<figcaption>Transmit, for FTP</figcaption>
								</figure>
							</td>
							<td>
								<figure>
									<img src="img/basecamp_logo.png" alt="Basecamp Logo" />
									<figcaption>Basecamp, for task and project management</figcaption>
								</figure>
							</td>
						</tr>
						<tr>
							<td>
								<figure>
									<img src="img/divvy_logo.png" alt="Divvy Logo" />
									<figcaption>Divvy, for desktop window management</figcaption>
								</figure>
							</td>
							<td>
								<figure>
									<img src="img/totalfinder_logo.png" alt="TotalFinder Logo" />
									<figcaption>TotalFinder, for a better Finder</figcaption>
								</figure>
							</td>
							<td>
								<figure>
									<img src="img/growl_logo.png" alt="Growl Logo" />
									<figcaption>Growl, for in-your-face-notificationary</figcaption>
								</figure>
							</td>
						</tr>
						<tr>
							<td>
								<figure>
									<img src="img/dropbox_logo.png" alt="Dropbox Logo" />
									<figcaption>Dropbox, for file management and "syncage"</figcaption>
								</figure>
							</td>
							<td>
								<figure>
									<img src="img/iawriter_logo.png" alt="iA Writer Logo" />
									<figcaption>iA Writer, for authoring</figcaption>
								</figure>
							</td>
							<td>
								<figure>
									<img src="img/fluidapp_logo.png" alt="Fluid App Logo" />
									<figcaption>Fluid App, for making Basecamp into a desktop app</figcaption>
								</figure>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</aside>
		
		<footer>Design &amp; Developed by Jeff Kamo</footer>
	</div>
</body>
</html>