<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="google-site-verification" content="ms2JgU09eLcpL5VsQwCywmlfUE7rfcM1FAdpwhXJ1p0" />
  <title>Jeff Kamo | Web Designer &amp; Developer</title>
  <link href="stylesheets/application.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <!--[if IE]><link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->
  <script type="text/javascript" src="http://use.typekit.com/bpt4byr.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="wrapper">
    <%= yield %>
  </div>
  <footer class="footer">
    Design &amp; Developed by Jeff Kamo
  </footer>
</body>
</html>