<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Could not be found! | Jeff Kamo | Web Designer &amp; Developer</title>
	<link href="stylesheets/404.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <!--[if IE]><link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->
	<script type="text/javascript" src="http://use.typekit.com/bpt4byr.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body id="home">
	<div class="wrapper">
		<h1>My Apologies!</h1>
		<p>I can't seem to find what you are looking for.</p>
		<p>Perhaps you are looking for <a href="/">my website?</a></p>
	</div>
</body>
</html>