/** == A NOTE ON CLASS NAMING CONVENTIONS  Module names can be one word, or multiple words connected by underscores  .module .module_name_goes_here   Classes that inherit from others (via SASS) are denoted by a single hyphen  .module-inherits .from_this_module-this_class_inherits   Sub-modules are denoted by double hyphens  .module--submodule .core_module--the_sub_module  */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* line 3, ../../sass/base/_elements.scss */
a { border-bottom: 1px solid #549bc7; color: #549bc7; text-decoration: none; }
/* line 8, ../../sass/base/_elements.scss */
a:hover { border: none; }

/* line 13, ../../sass/base/_elements.scss */
abbr { border-bottom: 1px dotted #BBB; }

/* line 17, ../../sass/base/_elements.scss */
b { font-weight: bold; }

/* line 21, ../../sass/base/_elements.scss */
body { background: #efefef url("../img/body_background.jpg"); color: #707070; font-family: myriad-pro-1, myriad-pro-2, "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; font-size: 16px; font-size: 1.6rem; height: 100%; line-height: 22px; line-height: 2.2rem; }

/* line 32, ../../sass/base/_elements.scss */
html { font-size: 62.5%; height: 100%; }

/* line 37, ../../sass/base/_elements.scss */
img { max-width: 100%; }

/* line 41, ../../sass/base/_elements.scss */
p, h1, h2, h3, h4, h5, h6, blockquote { margin-bottom: 11px; margin-bottom: 1.1rem; }

/* line 46, ../../sass/base/_elements.scss */
strong { font-weight: bold; }

/* line 3, ../../sass/base/_classes.scss */
.opaque_graphic { -webkit-transition: opacity 0.5s ease; -moz-transition: opacity 0.5s ease; -o-transition: opacity 0.5s ease; transition: opacity 0.5s ease; opacity: 0.5; }

/* line 12, ../../sass/base/_classes.scss */
.wrapper { *zoom: 1; max-width: 61.125em; _width: 61.125em; margin-left: auto; margin-right: auto; padding-left: 1.875em; padding-right: 1.875em; -webkit-background-origin: content; -moz-background-origin: content; -ms-background-origin: content-box; -o-background-origin: content-box; background-origin: content-box; -webkit-background-clip: content-box; -moz-background-clip: content-box; background-clip: content-box; margin-bottom: -50px; margin-bottom: -5rem; min-height: 100%; height: auto !important; height: 100%; }
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after { content: ""; display: table; clear: both; }

/* line 1, ../../sass/layouts/_about.scss */
.about { width: 100%; float: left; margin-right: 4.6729%; display: inline; margin-bottom: 22px; margin-bottom: 2.2rem; }
/* line 7, ../../sass/layouts/_about.scss */
.about img { float: left; margin-right: 3.26797%; }

/* line 1, ../../sass/layouts/_attributes.scss */
.attributes { width: 47.66355%; float: left; margin-right: 4.6729%; display: inline; }
@media (max-width: 499px) { /* line 1, ../../sass/layouts/_attributes.scss */
  .attributes { width: 65.64417%; float: left; margin-right: 0; #margin-right: -1.875em; display: inline; padding-left: 17.17791%; padding-right: 17.17791%; } }
/* line 174, ../../../../../../Library/Ruby/Gems/1.8/gems/susy-1.0.4/sass/susy/_grid.scss */
.attributes:nth-child(2n) { float: left; margin-right: 0; }

/* line 1, ../../sass/layouts/_bio.scss */
.bio { width: 31.28834%; float: left; margin-right: 0; #margin-right: -1.875em; display: inline; margin-bottom: 22px; position: relative; z-index: 20; }
@media (max-width: 760px) { /* line 1, ../../sass/layouts/_bio.scss */
  .bio { width: 65.64417%; float: left; margin-right: 0; #margin-right: -1.875em; display: inline; padding-left: 17.17791%; padding-right: 17.17791%; } }

/* line 14, ../../sass/layouts/_bio.scss */
.bio--resource { margin-top: 22px; margin-top: 2.2rem; }

/* line 20, ../../sass/layouts/_bio.scss */
.bio--resource_table > tbody tr td { padding: 0.5em; }

/* line 1, ../../sass/layouts/_content.scss */
.content { width: 65.64417%; float: left; margin-right: 3.06748%; display: inline; margin-bottom: 22px; }
@media (max-width: 760px) { /* line 1, ../../sass/layouts/_content.scss */
  .content { width: 100%; float: left; margin-right: 0; #margin-right: -1.875em; display: inline; } }

/* line 1, ../../sass/layouts/_disciplines.scss */
.disciplines--discipline { width: 34.57944%; float: left; margin-right: 0; #margin-right: -1.875em; display: inline; margin-bottom: 15px; margin-bottom: 1.5rem; }
@media (max-width: 499px) { /* line 1, ../../sass/layouts/_disciplines.scss */
  .disciplines--discipline { width: 82.82209%; float: left; margin-right: 0; #margin-right: -1.875em; display: inline; padding-left: 8.58896%; padding-right: 8.58896%; } }

/* line 12, ../../sass/layouts/_disciplines.scss */
.disciplines--discipline:first-child { width: 60.74766%; float: left; margin-right: 4.6729%; display: inline; }
@media (max-width: 499px) { /* line 12, ../../sass/layouts/_disciplines.scss */
  .disciplines--discipline:first-child { width: 82.82209%; float: left; margin-right: 0; #margin-right: -1.875em; display: inline; padding-left: 8.58896%; padding-right: 8.58896%; } }

/* line 1, ../../sass/layouts/_footer.scss */
.footer { clear: both; padding: 1.02249%; }

/* line 5, ../../sass/layouts/_gallery.scss */
.gallery--item { width: 31.28834%; float: left; margin-right: 3.06748%; display: inline; margin-bottom: 1em; }
/* line 174, ../../../../../../Library/Ruby/Gems/1.8/gems/susy-1.0.4/sass/susy/_grid.scss */
.gallery--item:nth-child(3n+1) { float: left; margin-right: 0; }
/* line 10, ../../sass/layouts/_gallery.scss */
.gallery--item:nth-child(3n+2) { clear: left; }

/* line 1, ../../sass/layouts/_learning.scss */
.learning { width: 100%; float: left; margin-right: 4.6729%; display: inline; margin-bottom: 22px; margin-bottom: 2.2rem; }

/* line 7, ../../sass/layouts/_learning.scss */
.learning--graphic { float: left; margin-right: 3.26797%; }

/* line 1, ../../sass/layouts/_paper.scss */
.paper { width: 72.54902%; float: left; margin-right: 9.80392%; display: inline; float: none; margin: 0 auto; padding: 3em 1.6em; }

/* line 1, ../../sass/layouts/_projects.scss */
.projects { width: 100%; float: left; margin-right: 4.6729%; display: inline; }

/* line 5, ../../sass/layouts/_projects.scss */
.projects--project { width: 47.66355%; float: left; margin-right: 4.6729%; display: inline; position: relative; }
/* line 174, ../../../../../../Library/Ruby/Gems/1.8/gems/susy-1.0.4/sass/susy/_grid.scss */
.projects--project:nth-child(3n) { float: left; margin-right: 0; }
@media (max-width: 760px) { /* line 5, ../../sass/layouts/_projects.scss */
  .projects--project { width: 48.46626%; float: left; margin-right: 3.06748%; display: inline; } }
@media (max-width: 499px) { /* line 5, ../../sass/layouts/_projects.scss */
  .projects--project { width: 65.64417%; float: left; margin-right: 0; #margin-right: -1.875em; display: inline; padding-left: 17.17791%; padding-right: 17.17791%; } }
/* line 20, ../../sass/layouts/_projects.scss */
.projects--project > figcaption { bottom: 0; padding: 1em 1em 0 1em; position: absolute; z-index: 30; }
/* line 27, ../../sass/layouts/_projects.scss */
.projects--project:hover > figcaption { bottom: -85px; }

/* line 32, ../../sass/layouts/_projects.scss */
.projects--screenshot { max-width: 92.81046%; padding: 3.26797%; position: relative; z-index: 20; }

/* line 1, ../../sass/layouts/_rising-sun.scss */
.rising_sun { height: 384px; margin: 0; overflow: hidden; padding: 0; width: 809px; margin: 10px auto 1em; position: relative; z-index: 10; }
/* line 10, ../../sass/extensions/_mixins.scss */
.rising_sun:before { content: url("../img/sun_background.png"); display: inline-block; font-size: 0; line-height: 0; }
@media (max-width: 540px) { /* line 1, ../../sass/layouts/_rising-sun.scss */
  .rising_sun { max-width: 100%; } }

/* line 1, ../../sass/layouts/_silk.scss */
.silk { float: none; margin: 0 auto; padding: 9.5em 0; }

/* line 1, ../../sass/layouts/_skills.scss */
.skills { width: 100%; float: left; margin-right: 4.6729%; display: inline; margin-bottom: 22px; margin-bottom: 2.2rem; overflow: hidden; }

/* line 8, ../../sass/layouts/_skills.scss */
.skills--overview { width: 47.66355%; float: left; margin-right: 4.6729%; display: inline; }
@media (max-width: 499px) { /* line 8, ../../sass/layouts/_skills.scss */
  .skills--overview { width: 100%; float: left; margin-right: 0; #margin-right: -1.875em; display: inline; } }

/* line 15, ../../sass/layouts/_skills.scss */
.skills--container { width: 47.66355%; float: left; margin-right: 0; #margin-right: -1.875em; display: inline; }
@media (max-width: 499px) { /* line 15, ../../sass/layouts/_skills.scss */
  .skills--container { width: 100%; float: left; margin-right: 0; #margin-right: -1.875em; display: inline; } }

/* line 22, ../../sass/layouts/_skills.scss */
.skills--skill { width: 17.64706%; float: left; margin-right: 9.80392%; display: inline; }
/* line 174, ../../../../../../Library/Ruby/Gems/1.8/gems/susy-1.0.4/sass/susy/_grid.scss */
.skills--skill:nth-child(4n) { float: left; margin-right: 0; }
/* line 26, ../../sass/layouts/_skills.scss */
.skills--skill > img { margin-top: 20px; margin-top: 2rem; }

/* line 1, ../../sass/modules/_about.scss */
.about { overflow: hidden; }

/* line 1, ../../sass/modules/_attributes.scss */
.attributes { line-height: 30px; line-height: 3rem; }

/* line 6, ../../sass/modules/_attributes.scss */
.attributes--attribute { font-family: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro Condensed Italic", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; font-style: italic; font-size: 20px; font-size: 2rem; }

/* line 1, ../../sass/modules/_bio.scss */
.bio { font-size: 10px; font-size: 1rem; line-height: 18px; line-height: 1.8rem; }
/* line 7, ../../sass/modules/_bio.scss */
.bio > b { font-family: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro Bold Condensed", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; font-size: 12px; font-size: 1.2rem; }

/* line 14, ../../sass/modules/_bio.scss */
.bio--resource { bottom: 50%; display: inline-block; top: 50%; }
/* line 19, ../../sass/modules/_bio.scss */
.bio--resource > figcaption { display: none; }

/* line 24, ../../sass/modules/_bio.scss */
.bio--resource_table { width: 100%; }
/* line 27, ../../sass/modules/_bio.scss */
.bio--resource_table > tbody tr td { text-align: center; }

/* line 32, ../../sass/modules/_bio.scss */
.bio--quote { font-size: 18px; font-size: 1.8rem; font-style: italic; text-align: center; }

/* line 1, ../../sass/modules/_disciplines.scss */
.disciplines { line-height: 30px; line-height: 3rem; }

/* line 1, ../../sass/modules/_footer.scss */
.footer { background: #222; border-radius: 2px 2px 0 0; color: #efefef; font-family: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro Condensed", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; letter-spacing: 0.2rem; opacity: 0.4; text-align: center; }

/* line 1, ../../sass/modules/_headers.scss */
.headers, .headers-level_1, .headers-level_2, .headers-level_3 { font-family: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro Bold Condensed", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; font-weight: bold; line-height: 1em; }

/* line 7, ../../sass/modules/_headers.scss */
.headers-level_1 { padding-top: 22px; padding-top: 2.2rem; text-transform: uppercase; }
@media (min-width: 500px) { /* line 7, ../../sass/modules/_headers.scss */
  .headers-level_1 { border-bottom: 0; border-top: 8px solid #707070; font-size: 80px; font-size: 8rem; } }

/* line 21, ../../sass/modules/_headers.scss */
.headers-level_2 { border-bottom: 2px solid #707070; font-size: 28px; font-size: 2.8rem; padding-top: 22px; padding-top: 2.2rem; text-transform: uppercase; }

/* line 31, ../../sass/modules/_headers.scss */
.headers-level_3 { color: #c76a54; font-size: 24px; font-size: 2.4rem; font-style: normal; font-weight: normal; }

/* line 40, ../../sass/modules/_headers.scss */
.headers--aside { color: #549bc7; font-family: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro Condensed", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; font-size: 24px; font-size: 2.4rem; letter-spacing: 0.8rem; text-align: center; text-transform: uppercase; }

/* line 1, ../../sass/modules/_learning.scss */
.learning { overflow: hidden; }

/* line 1, ../../sass/modules/_paper.scss */
.paper { background: white; border-image: url("../img/scroll_border.gif"); border-width: 6px 0; display: block; overflow: hidden; }

/* line 6, ../../sass/modules/_projects.scss */
.projects--project > figcaption { -webkit-transition: opacity 0.5s ease-in, bottom 0.5s ease; -moz-transition: opacity 0.5s ease-in, bottom 0.5s ease; -o-transition: opacity 0.5s ease-in, bottom 0.5s ease; transition: opacity 0.5s ease-in, bottom 0.5s ease; background: white; border: 3px solid #707070; border-radius: 5px; opacity: 0; }
/* line 14, ../../sass/modules/_projects.scss */
.projects--project:hover > figcaption { opacity: 1; }

/* line 19, ../../sass/modules/_projects.scss */
.projects--screenshot { -webkit-transition: opacity 0.5s ease; -moz-transition: opacity 0.5s ease; -o-transition: opacity 0.5s ease; transition: opacity 0.5s ease; background: white; border: 1px solid #d0d0d0; opacity: 0.6; }
/* line 25, ../../sass/modules/_projects.scss */
.projects--screenshot:hover { opacity: 1; }

@media (max-width: 870px) { /* line 1, ../../sass/modules/_rising-sun.scss */
  .rising_sun { height: 229px; margin: 0; overflow: hidden; padding: 0; width: 542px; }
  /* line 10, ../../sass/extensions/_mixins.scss */
  .rising_sun:before { content: url("../img/sun_logo_med.jpg"); display: inline-block; font-size: 0; line-height: 0; } }
@media (max-width: 540px) { /* line 1, ../../sass/modules/_rising-sun.scss */
  .rising_sun { height: 263px; margin: 0; overflow: hidden; padding: 0; width: 331px; }
  /* line 10, ../../sass/extensions/_mixins.scss */
  .rising_sun:before { content: url("../img/sun_logo_small.jpg"); display: inline-block; font-size: 0; line-height: 0; } }

/* line 1, ../../sass/modules/_silk.scss */
.silk { background: url("../img/silk.jpg"); box-shadow: 0 0 8px #AAA; display: block; overflow: hidden; }

/* line 5, ../../sass/modules/_skills.scss */
.skills--skill { text-align: center; }
/* line 8, ../../sass/modules/_skills.scss */
.skills--skill > span { display: block; }
