@import "compass/reset";
@import "grid";

/* Global Variables */
$color-bg:     #efefef;
$color-body:   #707070;
$color-link:   #549bc7;
$color-strong: #c76a54;

$font-base: myriad-pro-1, myriad-pro-2, "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$font-condensed: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$rem-huge: 8.0rem;
$rem-big:  2.8rem;
$rem-med:  2.4rem;
$rem-norm: 1.6rem;
$rem-small:1.0rem;
$rem-line-base: 2.2rem;
$px-huge: 80px;
$px-big:  28px;
$px-med:  24px;
$px-norm: 16px;
$px-small:10px;
$px-line-base: 22px;

/* Global Elements */
a {
  border-bottom: 1px solid $color-link;
  color: $color-link;
  text-decoration: none;
}
body {
  background: $color-bg;
  color: $color-body;
  font-family: $font-base;
  font-size: $px-norm;
  font-size: $rem-norm;
  line-height: $px-line-base;
  line-height: $rem-line-base;
}
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
}
strong {
  font-weight: bold;
}

/* Global Classes */
@media (min-width: 978px) {
  .wrapper {
    margin: 0 auto;
    width: $width;
  }
}
@media (min-width: 642px) and (max-width: 977px) {
  .wrapper {
    @include col(8,none);
    margin: 0 auto;
    overflow: hidden;
  }
}
@media (max-width: 641px) {
  .wrapper {
    @include col(4,none);
    margin: 0 auto;
    overflow: hidden;
  }
}