/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Myriad Pro Condensed";
  src: url("/Library/Fonts/MyriadPro-Cond.otf");
}

@font-face {
  font-family: "Myriad Pro Condensed Italic";
  src: url("/Library/Fonts/MyriadPro-CondIt.otf");
}

@font-face {
  font-family: "Myriad Pro Bold Condensed";
  src: url("/Library/Fonts/MyriadPro-BoldCond.otf");
}

/* line 87, ../sass/_base.scss */
a {
  border-bottom: 1px solid #549bc7;
  color: #549bc7;
  text-decoration: none;
}

/* line 92, ../sass/_base.scss */
abbr {
  border-bottom: 1px dotted #BBB;
}

/* line 95, ../sass/_base.scss */
b {
  font-weight: bold;
}

/* line 98, ../sass/_base.scss */
body {
  background: #efefef url("../img/body_background.jpg");
  color: #707070;
  font-family: myriad-pro-1, myriad-pro-2, "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 22px;
  line-height: 2.2rem;
}

/* line 107, ../sass/_base.scss */
html {
  font-size: 62.5%;
}

/* line 110, ../sass/_base.scss */
img {
  max-width: 100%;
}

/* line 113, ../sass/_base.scss */
p, h1, h2, h3, h4, h5, h6, blockquote {
  margin-bottom: 11px;
  margin-bottom: 1.1rem;
}

/* line 117, ../sass/_base.scss */
strong {
  font-weight: bold;
}

/* line 123, ../sass/_base.scss */
.wrapper {
  *zoom: 1;
  margin: auto;
  width: 64.875em;
  max-width: 100%;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 8, ../sass/application.scss */
header {
  height: 384px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 809px;
  margin: 10px auto 0;
  position: relative;
  z-index: 10;
}
/* line 40, ../sass/_base.scss */
header:before {
  content: url("../img/sun_background.png");
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

/* line 10, ../sass/application.scss */
section {
  margin-left: 2.89%;
  display: inline;
  float: left;
  width: 61.85%;
  margin-right: 2.89%;
  margin-bottom: 22px;
}
/* line 11, ../sass/application.scss */
section h2 {
  border-bottom: 2px solid #707070;
  font-family: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro Bold Condensed", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 28px;
  font-size: 2.8rem;
  text-transform: uppercase;
}
/* line 12, ../sass/application.scss */
section h3 {
  font-family: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro Bold Condensed", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
}
/* line 13, ../sass/application.scss */
section h2, section h3 {
  line-height: 1em;
  font-weight: bold;
}
/* line 15, ../sass/application.scss */
section .projects, section .about, section .skills, section .learning {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 4.673%;
  overflow: hidden;
}
/* line 16, ../sass/application.scss */
section .about, section .skills, section .learning {
  margin-bottom: 22px;
  margin-bottom: 2.2rem;
}
/* line 19, ../sass/application.scss */
section .projects figure {
  display: inline;
  float: left;
  width: 47.664%;
  margin-right: 4.673%;
}
/* line 20, ../sass/application.scss */
section .projects figure:nth-child(2n+1) {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1.875em;
}
/* line 22, ../sass/application.scss */
section .projects figure figcaption {
  -moz-transition: opacity 0.5s ease, margin-bottom 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease, margin-bottom 0.5s ease-out;
  -o-transition: opacity 0.5s ease, margin-bottom 0.5s ease-out;
  transition: opacity 0.5s ease, margin-bottom 0.5s ease-out;
  opacity: 0;
}
/* line 23, ../sass/application.scss */
section .projects figure:hover figcaption {
  margin-bottom: 2.2rem;
  opacity: 1;
}
/* line 25, ../sass/application.scss */
section .projects figure img {
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  background: white;
  border: 1px solid #d0d0d0;
  max-width: 92.81%;
  opacity: 0.6;
  padding: 3.268%;
}
/* line 26, ../sass/application.scss */
section .projects figure:hover img {
  opacity: 1;
}
/* line 28, ../sass/application.scss */
section .projects h2 {
  border-bottom: 0;
  border-top: 8px solid #707070;
  font-size: 80px;
  font-size: 8rem;
}
/* line 32, ../sass/application.scss */
section .about div {
  display: inline;
  float: left;
  width: 47.664%;
  margin-right: 4.673%;
}
/* line 33, ../sass/application.scss */
section .about div:nth-child(2n+0) {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1.875em;
}
/* line 34, ../sass/application.scss */
section .about img {
  float: left;
  margin-right: 3.268%;
}
/* line 36, ../sass/application.scss */
section .about .attributes {
  line-height: 30px;
  line-height: 3rem;
}
/* line 37, ../sass/application.scss */
section .about .attributes h3 {
  color: #c76a54;
}
/* line 38, ../sass/application.scss */
section .about .attributes ul li {
  font-family: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro Condensed Italic", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-style: italic;
  font-size: 20px;
  font-size: 2rem;
}
/* line 43, ../sass/application.scss */
section .skills p {
  display: inline;
  float: left;
  width: 47.664%;
  margin-right: 4.673%;
}
/* line 44, ../sass/application.scss */
section .skills ul {
  display: inline;
  float: left;
  width: 47.664%;
  margin-right: 4.673%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1.875em;
}
/* line 45, ../sass/application.scss */
section .skills ul li {
  display: inline;
  float: left;
  width: 17.647%;
  margin-right: 9.804%;
  color: #c76a54;
  font-family: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro Bold Condensed", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  text-align: center;
}
/* line 46, ../sass/application.scss */
section .skills ul li:nth-child(4n+0) {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1.875em;
}
/* line 47, ../sass/application.scss */
section .skills ul img {
  margin-top: 20px;
  margin-top: 2rem;
}
/* line 48, ../sass/application.scss */
section .skills ul span {
  display: block;
}
/* line 53, ../sass/application.scss */
section .learning img {
  float: left;
  margin-right: 3.268%;
}
/* line 54, ../sass/application.scss */
section .learning span {
  color: #c76a54;
  font-family: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro Bold Condensed", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  margin-bottom: 11px;
  margin-bottom: 1.1rem;
}
/* line 56, ../sass/application.scss */
section .learning .disciplines {
  font-family: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro Condensed Italic", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-style: italic;
  font-size: 20px;
  font-size: 2rem;
  line-height: 30px;
  line-height: 3rem;
}
/* line 57, ../sass/application.scss */
section .learning .disciplines > li:first-child {
  display: inline;
  float: left;
  width: 60.748%;
  margin-right: 4.673%;
}
/* line 58, ../sass/application.scss */
section .learning .disciplines > li {
  display: inline;
  float: left;
  width: 34.579%;
  margin-right: 4.673%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1.875em;
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
}

/* line 62, ../sass/application.scss */
aside {
  display: inline;
  float: left;
  width: 29.48%;
  margin-right: 2.89%;
  display: inline;
  float: right;
  margin-right: 2.89%;
  #margin-left: -1.875em;
  font-size: 10px;
  font-size: 1rem;
  line-height: 18px;
  line-height: 1.8rem;
  margin-bottom: 22px;
  position: relative;
  z-index: 20;
}
/* line 63, ../sass/application.scss */
aside b {
  font-family: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro Bold Condensed", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
}
/* line 64, ../sass/application.scss */
aside blockquote {
  font-size: 18px;
  font-size: 1.8rem;
  font-style: italic;
  text-align: center;
}
/* line 65, ../sass/application.scss */
aside figcaption {
  display: none;
}
/* line 66, ../sass/application.scss */
aside h2 {
  color: #549bc7;
  font-family: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro Condensed", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  text-transform: uppercase;
}
/* line 67, ../sass/application.scss */
aside h2.nutshell {
  text-align: center;
  letter-spacing: 3px;
  letter-spacing: 0.8rem;
}
/* line 68, ../sass/application.scss */
aside h2.resources {
  text-align: center;
  letter-spacing: 10px;
  letter-spacing: 0.8rem;
  margin-top: 22px;
  margin-top: 2.2rem;
}
/* line 70, ../sass/application.scss */
aside img {
  bottom: 50%;
  display: inline-block;
  top: 50%;
}
/* line 71, ../sass/application.scss */
aside table {
  width: 100%;
}
/* line 72, ../sass/application.scss */
aside td {
  text-align: center;
  padding: 0.5em;
}
/* line 74, ../sass/application.scss */
aside .silk {
  background: url("../img/silk.jpg");
  box-shadow: 0 0 8px #AAA;
  padding: 9.5em 0;
}
/* line 75, ../sass/application.scss */
aside .paper {
  display: inline;
  float: left;
  width: 72.549%;
  margin-right: 9.804%;
  background: white;
  border-image: url("../img/scroll_border.gif");
  border-width: 6px 0;
  padding: 3em 1.6em;
}
/* line 76, ../sass/application.scss */
aside .silk, aside .paper {
  display: block;
  float: none;
  margin: 0 auto;
  overflow: hidden;
}

/* line 80, ../sass/application.scss */
section img, aside img {
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0.5;
}
/* line 81, ../sass/application.scss */
section img:hover, aside img:hover {
  opacity: 1;
}

/* line 84, ../sass/application.scss */
footer {
  clear: both;
  margin-left: 2.89%;
  margin-right: 2.89%;
  background: #707070;
  border-radius: 2px 2px 0 0;
  color: #efefef;
  font-family: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro Condensed", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: 0.2rem;
  opacity: 0.5;
  padding: 1.022%;
  text-align: center;
}
