/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 53, ../sass/_base.scss */
a {
  border-bottom: 1px solid #549bc7;
  color: #549bc7;
  text-decoration: none;
}

/* line 58, ../sass/_base.scss */
body {
  background: #efefef url("../img/body_background.jpg");
  color: #707070;
  font-family: myriad-pro-1, myriad-pro-2, "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 22px;
  line-height: 2.2rem;
}

/* line 67, ../sass/_base.scss */
html {
  font-size: 62.5%;
}

/* line 70, ../sass/_base.scss */
img {
  max-width: 100%;
}

/* line 73, ../sass/_base.scss */
strong {
  font-weight: bold;
}

/* line 79, ../sass/_base.scss */
.wrapper {
  *zoom: 1;
  margin: auto;
  width: 64.875em;
  max-width: 100%;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 8, ../sass/application.scss */
header {
  clear: both;
  margin-left: 2.89%;
  margin-right: 2.89%;
  background: #c7b696;
  height: 350px;
}

/* line 10, ../sass/application.scss */
section {
  margin-left: 2.89%;
  display: inline;
  float: left;
  width: 61.85%;
  margin-right: 2.89%;
  margin-top: 22px;
  margin-bottom: 22px;
}
/* line 11, ../sass/application.scss */
section h2 {
  border-bottom: 2px solid #707070;
  font-family: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 28px;
  font-size: 2.8rem;
  text-transform: uppercase;
}
/* line 12, ../sass/application.scss */
section h3 {
  font-family: myriad-pro-1, myriad-pro-2, "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
}
/* line 13, ../sass/application.scss */
section h2, section h3 {
  line-height: 1em;
  font-weight: bold;
}
/* line 15, ../sass/application.scss */
section .projects {
  overflow: hidden;
}
/* line 16, ../sass/application.scss */
section .projects figure {
  display: inline;
  float: left;
  width: 47.664%;
  margin-right: 4.673%;
}
/* line 17, ../sass/application.scss */
section .projects figure figcaption {
  -moz-transition: opacity 0.5s ease, margin-bottom 0.5s ease;
  -webkit-transition: opacity 0.5s ease, margin-bottom 0.5s ease;
  -o-transition: opacity 0.5s ease, margin-bottom 0.5s ease;
  transition: opacity 0.5s ease, margin-bottom 0.5s ease;
  opacity: 0;
}
/* line 18, ../sass/application.scss */
section .projects figure img {
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  background: white;
  border: 1px solid #d0d0d0;
  max-width: 92.81%;
  opacity: 0.5;
  padding: 3.268%;
}
/* line 20, ../sass/application.scss */
section .projects figure:hover figcaption {
  margin-bottom: 2.2rem;
  opacity: 1;
}
/* line 21, ../sass/application.scss */
section .projects figure:hover img {
  opacity: 1;
}
/* line 22, ../sass/application.scss */
section .projects figure:nth-child(2n+1) {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1.875em;
}
/* line 24, ../sass/application.scss */
section .projects h2 {
  border-bottom: 0;
  border-top: 8px solid #707070;
  font-size: 80px;
  font-size: 8rem;
}

/* line 28, ../sass/application.scss */
aside {
  display: inline;
  float: left;
  width: 29.48%;
  margin-right: 2.89%;
  display: inline;
  float: right;
  margin-right: 2.89%;
  #margin-left: -1.875em;
  font-size: 10px;
  font-size: 1rem;
  margin-bottom: 22px;
  margin-top: 22px;
}
/* line 29, ../sass/application.scss */
aside h2 {
  color: #549bc7;
  font-family: myriad-pro-condensed, myriad-pro-1, myriad-pro-2, "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  text-transform: uppercase;
}
/* line 31, ../sass/application.scss */
aside .silk {
  background: url("../img/silk.jpg");
  box-shadow: 0 0 8px #AAA;
  padding: 9.5em 0;
}
/* line 32, ../sass/application.scss */
aside .paper {
  display: inline;
  float: left;
  width: 72.549%;
  margin-right: 9.804%;
  background: white;
  padding: 3em 1.6em;
}
/* line 33, ../sass/application.scss */
aside .silk, aside .paper {
  display: block;
  float: none;
  margin: 0 auto;
  overflow: hidden;
}

/* line 36, ../sass/application.scss */
footer {
  clear: both;
  margin-left: 2.89%;
  margin-right: 2.89%;
  background: #707070;
  color: #efefef;
}
