/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 53, ../sass/_base.scss */
a {
  border-bottom: 1px solid #549bc7;
  color: #549bc7;
  text-decoration: none;
}

/* line 58, ../sass/_base.scss */
body {
  background: #efefef url("../img/body_background.jpg");
  color: #707070;
  font-family: myriad-pro-1, myriad-pro-2, "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 22px;
  line-height: 2.2rem;
}

/* line 67, ../sass/_base.scss */
html {
  font-size: 62.5%;
}

/* line 70, ../sass/_base.scss */
img {
  max-width: 100%;
}

/* line 73, ../sass/_base.scss */
strong {
  font-weight: bold;
}

/* line 79, ../sass/_base.scss */
.wrapper {
  *zoom: 1;
  margin: auto;
  width: 64.875em;
  max-width: 100%;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p180@rails3tutorial/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries */
/*@media (min-width: 978px) {
  section { @include col(8);
    figure { @include col(4); }
  }
}
@media (min-width: 642px) and (max-width: 977px) {
  section { @include col(4); }
}
@media (max-width: 641px) {
  section { @include col(3);
    figure { @include col(3); }
  }
}*/
/* Standard Application Styles */
/*header { @include row; background: #c7b696; height: 350px; }

section { margin-top: $px-line-base; margin-bottom: $px-line-base;
  figure:nth-child(2n+1) { @include last; }
  h2 { border-bottom: 2px solid $color-body; font-family: $font-condensed; font-size: $px-big; font-size: $rem-big; text-transform: uppercase; }
  h3 { font-family: $font-base; font-size: $px-med; font-size: $rem-med; }
  h2, h3 { line-height: 1em; font-weight: bold; }
  
  .projects {
    h2 { border-bottom: 0; border-top: 8px solid $color-body; font-size: $px-huge; font-size: $rem-huge; }
  }
}

aside { @include col(4); @include last; font-size: $px-small; font-size: $rem-small; margin: $px-line-base auto;
  h2 { color: $color-link; font-family: $font-condensed; font-size: $px-med; font-size: $rem-med; text-transform: uppercase; }
  
  .silk { box-shadow: 0 0 8px #AAA; padding: 95px 0; width: 282px; }
  .paper { @include col(3); @include last(); background: white; float: none; padding: 30px 15px; }
  .silk, .paper { margin: 0 auto; overflow: hidden; }
}

footer { @include row; background: $color-body; color: $color-bg; }*/
