.disciplines {
  @include span-columns(8, 8);
}

.disciplines--discipline {
  @include span-columns(4 omega, 8);
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
  @media (max-width: 499px) {
    @include span-columns(10 omega, 12);
    @include prefix(1);
    @include suffix(1);
  }
  
  &:nth-child(2n+0):not(:last-child):after {
    clear: both;
    content: ' ';
    display: block;
    margin-bottom: 2em;
  }
}

.major_disciplines {
  @include span-columns(5 omega, 8);
}

.major_disciplines--discipline {
  @include span-columns(5 omega, 5);
  @media (max-width: 499px) {
    @include span-columns(10 omega, 12);
    @include prefix(1);
    @include suffix(1);
  }
}