.learning {
  @include span-columns(8, 8);
  margin-bottom: $px-line-base;
  margin-bottom: $rem-line-base;
}

.learning--graphic {
  float: left;
  margin-right: $px-line-base;
  margin-right: $rem-line-base;
}