.projects {
  @include span-columns(8, 8);
}

.projects--project {
  @include span-columns(4, 8);
  @include nth-omega(2n+1);
  @media (max-width: 760px) {
    @include span-columns(6, 12);
  }
  
  @media (max-width: 499px) {
    @include span-columns(8 omega, 12);
    @include prefix(2);
    @include suffix(2);
  }
  
  position: relative;
  
  & > figcaption {
    bottom: 0;
    padding: 1em 1em 0 1em;
    position: absolute;
    z-index: 30;
  }
  
  &:hover > figcaption {
    bottom: -85px;
  }
}

.projects--screenshot {
  max-width: calc-per(284px, 306px);
  padding: calc-per(10px, 306px);
  position: relative;
  z-index: 20;
}