.rising-sun {
  @include nir('../img/sun_background.png', 384px, 809px);
  
  margin: 10px auto 1em;
  position: relative;
  z-index: 10;
  
  @media (max-width:870px) {
    // styles...
  }
  
  @media (max-width:540px) {
    max-width: 100%;
  }
}