.skills {
  @include span-columns(8,8);
  
  margin-bottom: $px-line-base;
  margin-bottom: $rem-line-base;
  overflow: hidden;
  
  p {
    @include span-columns(4,8);
    @media (max-width:499px) {
      @include span-columns(12,12);
      @include omega;
    }
  }
  
  ul {
    @include span-columns(4,8);
    @include omega;
    
    @media (max-width:499px) {
      @include span-columns(12,12);
      @include omega;
    }
    
    li {
      @include span-columns (1,4);
    }

    li:nth-child(4n+0) {
      @include omega;
    }
    
    img {
      margin-top: $px-semi;
      margin-top: $rem-semi;
    }
  }
}