.skills {
  @include span-columns(8, 8);
  margin-bottom: $px-line-base;
  margin-bottom: $rem-line-base;
  overflow: hidden;
}

.skills--container {
  @include span-columns(8 omega, 8);
  @media (max-width: 499px) {
    @include span-columns(12 omega, 12);
  }
}

.skills--skill {
  display: block;
  float: left;
  width: 16.66%;
  
  &:nth-child(6n+1) {
    clear: left;
  }
  
  &:nth-child(6n+0):not(:last-child):after {
    clear: both;
    content: ' ';
    display: block;
    margin-bottom: 2em;
  }
  
  & > span {
    display: inline-block;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  & > span + img {
    margin-top: 1em;
  }
}