.skills {
  @include span-columns(8, 8);
  
  margin-bottom: $px-line-base;
  margin-bottom: $rem-line-base;
  overflow: hidden;
}

.skills--overview {
  @include span-columns(4, 8);
  @media (max-width: 499px) {
    @include span-columns(12 omega, 12);
  }
}

.skills--container {
  @include span-columns(4 omega, 8);
  @media (max-width: 499px) {
    @include span-columns(12 omega, 12);
  }
}

.skills--skill {
  @include span-columns(1, 4);
  @include nth-omega(4n+0);
  
  & > img {
    margin-top: $px-semi;
    margin-top: $rem-semi;
  }
}