.bio {
  font-size: $px-small;
  font-size: $rem-small;
  line-height: 18px;
  line-height: 1.8rem;
  
  & > b {
    font-family: $font-bold-condensed;
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.bio--resource {
  bottom: 50%;
  display: inline-block;
  top: 50%;
  
  & > figcaption {
    display: none;
  }
}

.bio--resource_table {
  width: 100%;
  
  & > tbody tr td {
    text-align: center;
  }
}

.bio--quote {
  font-size: 18px;
  font-size: 1.8rem;
  font-style: italic;
  text-align: center;
}