.projects {
  // styles...
}

.projects--project {
  & > figcaption {
    @include transition(opacity 0.5s ease-in, bottom 0.5s ease);
    background: white;
    border: 3px solid $color-body;
    border-radius: 5px;
    opacity: 0;
  }
  
  &:hover > figcaption {
    opacity: 1;
  }
}

.projects--screenshot {
  @include transition(opacity 0.5s ease);
  background: white;
  border: 1px solid #d0d0d0;
  opacity: 0.6;
  
  &:hover {
    opacity: 1;
  }
}